<div class="mindmapp-about">
    <div class="mindmapp-about-header mat-elevation-z6">
        <nav>
            <img class="logo" width="36" src="./assets/icons/icon-72x72.png">
            <h3>{{ projectName }}</h3>

            <a class="page" mat-button routerLink="/application">
                {{ 'APPLICATION_TITLE' | translate }}
            </a>
            <a class="page active" mat-button routerLink="/about">
                {{ 'ABOUT_TITLE' | translate }}
            </a>

            <span class="toolbar-spacer"></span>

            <button (click)="openSidenav()" [title]="'TOOLTIPS.OPEN_MENU' | translate"
                    class="open-menu" color="primary"
                    mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </nav>
    </div>
    <div class="mindmapp-about-content">
        <section>

        </section>
    </div>
</div>
