@import "~src/theme.scss";

div.mindmapp-about {
    div.mindmapp-about-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;

        nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 12px 16px;

            span.toolbar-spacer {
                flex: 1 1 auto;
            }

            div.vertical-line {
                width: 1px;
                height: 35px;
                margin: 0 10px;
                background-color: #c2c2c2;
            }

            a.link {
                cursor: pointer;
                color: mat-color($app-primary);
                padding-right: 12px;
            }

            img.logo {
                padding-right: 10px;
            }

            h3 {
                margin: 0 20px 3px 0;
                font-weight: normal;
            }

            a.page {
                margin-right: 10px;
            }

            a.page.active {
                border-radius: 0;
                border-bottom: 2px solid mat-color($app-primary, .8);
            }

            .mobile {
                display: none;
            }

            @media only screen and (max-width: 600px) {
                a.page {
                    display: none;
                }

                .mobile {
                    display: block;
                }
            }
        }
    }
}
