<div class="about">
    <mindmapp-header></mindmapp-header>

    <mindmapp-jumbotron></mindmapp-jumbotron>

    <section id="section-1" class="card-section">
        <div class="container">
            <h1>
                <fa-icon mat-card-avatar [icon]="['fas', 'brain']" size="1x"></fa-icon>
                &nbsp;{{ 'Mind maps' | translate }}
            </h1>
            <p>Web application to draw mind maps.</p>
            <div class="cards">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Colors</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                         alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Saepe corporis odit non exercitationem deserunt. Facilis ut quae aliquid fugiat non.
                            Quod laboriosam tenetur neque. Molestiae sunt perspiciatis minima iusto neque magni
                            iure.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Images</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                         alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Saepe corporis odit non exercitationem deserunt. Facilis ut quae aliquid fugiat non.
                            Quod laboriosam tenetur neque. Molestiae sunt perspiciatis minima iusto neque magni
                            iure.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Neural</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                         alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Saepe corporis odit non exercitationem deserunt. Facilis ut quae aliquid fugiat non.
                            Quod laboriosam tenetur neque. Molestiae sunt perspiciatis minima iusto neque magni
                            iure.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>
    <section id="section-2" class="card-section">
        <div class="container">
            <h1>
                <fa-icon mat-card-avatar [icon]="['fas', 'rocket']" size="1x"></fa-icon>
                &nbsp;{{ 'Features' | translate }}
            </h1>
            <p>Web application to draw mind maps.</p>
            <div class="cards">
                <mat-card>
                    <mat-card-header>
                        <fa-icon mat-card-avatar [icon]="['fab', 'github']" size="lg"></fa-icon>
                        <mat-card-title>Simple design</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Saepe corporis odit non exercitationem deserunt. Facilis ut quae aliquid fugiat non.
                            Quod laboriosam tenetur neque. Molestiae sunt perspiciatis minima iusto neque magni
                            iure.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <fa-icon mat-card-avatar [icon]="['fab', 'github']" size="lg"></fa-icon>
                        <mat-card-title>Import & export</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Saepe corporis odit non exercitationem deserunt. Facilis ut quae aliquid fugiat non.
                            Quod laboriosam tenetur neque. Molestiae sunt perspiciatis minima iusto neque magni
                            iure.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <fa-icon mat-card-avatar [icon]="['fab', 'github']" size="lg"></fa-icon>
                        <mat-card-title>PWA</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Saepe corporis odit non exercitationem deserunt. Facilis ut quae aliquid fugiat non.
                            Quod laboriosam tenetur neque. Molestiae sunt perspiciatis minima iusto neque magni
                            iure.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>

    <section id="section-3" class="card-section">
        <div class="container">
            <h1>
                <fa-icon mat-card-avatar [icon]="['fas', 'heart']" size="1x"></fa-icon>
                &nbsp;{{ 'Donate' | translate }}
            </h1>
            <p>Web application to draw mind maps.</p>
        </div>
    </section>

    <mindmapp-footer></mindmapp-footer>
</div>
