<div class="about">
    <mindmapp-header></mindmapp-header>
    <mindmapp-jumbotron></mindmapp-jumbotron>

    <section id="section-0" class="about-section">
        <div class="container">
            <h1>
                <fa-icon mat-card-avatar [icon]="['fas', 'brain']" size="1x"></fa-icon>
                &nbsp;&nbsp;{{ 'PAGES.ABOUT.SECTIONS.0.TITLE' | translate }}
            </h1>
            <p>{{ 'PAGES.ABOUT.SECTIONS.0.SUBTITLE' | translate }}</p>
            <div class="cards">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            {{ 'PAGES.ABOUT.SECTIONS.0.CARDS.0.TITLE' | translate }}
                        </mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="/assets/images/solar-system.png" alt="Solar system">
                    <mat-card-content>
                        <p>{{ 'PAGES.ABOUT.SECTIONS.0.CARDS.0.CONTENT' | translate }}</p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            {{ 'PAGES.ABOUT.SECTIONS.0.CARDS.1.TITLE' | translate }}
                        </mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="/assets/images/radial-tree.png" alt="Radial tree">
                    <mat-card-content>
                        <p>{{ 'PAGES.ABOUT.SECTIONS.0.CARDS.1.CONTENT' | translate }}</p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            {{ 'PAGES.ABOUT.SECTIONS.0.CARDS.2.TITLE' | translate }}
                        </mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="/assets/images/business-plan.png" alt="Business plan">
                    <mat-card-content>
                        <p>{{ 'PAGES.ABOUT.SECTIONS.0.CARDS.2.CONTENT' | translate }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>
    <section id="section-1" class="about-section">
        <div class="container">
            <h1>
                <fa-icon mat-card-avatar [icon]="['fas', 'rocket']" size="1x"></fa-icon>
                &nbsp;&nbsp;{{ 'PAGES.ABOUT.SECTIONS.1.TITLE' | translate }}
            </h1>
            <p>{{ 'PAGES.ABOUT.SECTIONS.1.SUBTITLE' | translate }}</p>
            <div class="cards">
                <mat-card>
                    <mat-card-header>
                        <fa-icon mat-card-avatar [icon]="['fas', 'check']" size="lg"></fa-icon>
                        <mat-card-title>
                            {{ 'PAGES.ABOUT.SECTIONS.1.CARDS.0.TITLE' | translate }}
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ 'PAGES.ABOUT.SECTIONS.1.CARDS.0.CONTENT' | translate }}</p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <fa-icon mat-card-avatar [icon]="['fas', 'chart-line']" size="lg"></fa-icon>
                        <mat-card-title>
                            {{ 'PAGES.ABOUT.SECTIONS.1.CARDS.1.TITLE' | translate }}
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ 'PAGES.ABOUT.SECTIONS.1.CARDS.1.CONTENT' | translate }}</p>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <fa-icon mat-card-avatar [icon]="['fas', 'cogs']" size="lg"></fa-icon>
                        <mat-card-title>
                            {{ 'PAGES.ABOUT.SECTIONS.1.CARDS.2.TITLE' | translate }}
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ 'PAGES.ABOUT.SECTIONS.1.CARDS.2.CONTENT' | translate }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>

    <section id="section-2" class="about-section">
        <div class="container">
            <h1>
                <fa-icon mat-card-avatar [icon]="['fas', 'heart']" size="1x"></fa-icon>
                &nbsp;&nbsp;{{ 'PAGES.ABOUT.SECTIONS.2.TITLE' | translate }}
            </h1>
            <p>{{ 'PAGES.ABOUT.SECTIONS.2.SUBTITLE' | translate }}</p>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <a href="https://opencollective.com/mindmapp/contribute" target="_blank">Open Collective</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <a href="https://paypal.me/Mindmapp" target="_blank">PayPal</a>
                </mat-list-item>
            </mat-list>
        </div>
    </section>

    <mindmapp-footer></mindmapp-footer>
</div>
