div#settings {

    h2 {
        text-align: center;
    }

    div.content {
        padding: 20px;
        height: 200px;

        mat-slide-toggle.mat-slide-toggle {
            display: block;
            margin-bottom: 8px;
        }
    }

}
