<div id="settings">
    <h2 mat-dialog-title>{{ "SETTINGS" | translate }}</h2>

    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab [label]="titles[2] | translate">
                <div class="content" id="languages">
                    <mat-slide-toggle (change)="settingsService.setLanguage('en')"
                                      [checked]="settings?.language === 'en'"
                                      color="primary">
                        {{ "LANGUAGES.EN" | translate }}
                    </mat-slide-toggle>
                    <mat-slide-toggle (change)="settingsService.setLanguage('it')"
                                      [checked]="settings?.language === 'it'"
                                      color="primary">
                        {{ "LANGUAGES.IT" | translate }}
                    </mat-slide-toggle>
                </div>
            </mat-tab>
            <mat-tab [label]="titles[0] | translate">
                <div class="content" id="synchronization">
                    <mat-slide-toggle (change)="settingsService.setFileSync($event.source)"
                                      [checked]="settings?.synchronization?.file"
                                      color="primary">
                        {{ "FILE" | translate }}
                    </mat-slide-toggle>
                </div>
            </mat-tab>
            <mat-tab [label]="titles[1] | translate">
                <div class="content" id="sharing">
                    <mat-slide-toggle (change)="settingsService.setIpfs($event.source)"
                                      [checked]="settings?.sharing?.ipfs"
                                      color="primary">
                        {{ "IPFS" | translate }}
                    </mat-slide-toggle>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
</div>
