div.footer {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: #555555;
    border-top: 1px solid lightgray;

    div.footer-content {
        display: flex;
        padding: 4px 10px;

        span.footer-spacer {
            flex: 1 1 auto;
        }

        div.vertical-line {
            width: 1px;
            margin: 0 10px;
            background-color: #c2c2c2;
        }
    }
}
