<div class="sliders-panel">
    <mat-slider (change)="updateNodeFontSize($event)" (input)="updateNodeFontSize($event, true)"
                *ngIf="node.font" [title]="'TOOLTIPS.TEXT_SIZE' | translate"
                [value]="node.font.size"
                class="font-size"
                color="primary"
                max="70"
                min="15"
                vertical>
    </mat-slider>
    <mat-slider (change)="updateNodeImageSize($event)" (input)="updateNodeImageSize($event, true)"
                *ngIf="node.image && node.image.src" [title]="'TOOLTIPS.IMAGE_SIZE' | translate"
                [value]="node.image.size"
                class="image-size"
                color="primary"
                max="350"
                min="50"
                vertical>
    </mat-slider>
</div>
