<mat-toolbar class="mat-elevation-z6">
    <button (click)="createNewMap()" [title]="'TOOLTIPS.NEW_MAP' | translate"
            class="new-map" color="primary"
            mat-icon-button>
        <mat-icon>note_add</mat-icon>
    </button>
    <button (click)="saveMap()"
            [disabled]="(mapCacheService.attachedMap | async)?.updated"
            [title]="'TOOLTIPS.SAVE_MAP' | translate"
            class="save-map" color="primary"
            mat-icon-button>
        <mat-icon>save</mat-icon>
    </button>
    <button [matMenuTriggerFor]="import_map" [title]="'TOOLTIPS.IMPORT_MAP' | translate"
            class="import-map" color="primary"
            mat-icon-button>
        <mat-icon>folder_open</mat-icon>
    </button>
    <mat-menu #import_map="matMenu">
        <button (click)="mmpService.importMap()" mat-menu-item>
            <mat-icon>insert_drive_file</mat-icon>
            <span>{{ "JSON" | translate }}</span>
        </button>
        <button (click)="openCachedMaps()" mat-menu-item>
            <mat-icon>storage</mat-icon>
            <span>{{ "SAVED_MAPS" | translate }}</span>
        </button>
    </mat-menu>
    <button [matMenuTriggerFor]="export_map" [title]="'TOOLTIPS.EXPORT_MAP' | translate"
            class="export-map" color="primary"
            mat-icon-button>
        <mat-icon>get_app</mat-icon>
    </button>
    <mat-menu #export_map="matMenu">
        <button (click)="exportMap('json')" mat-menu-item>
            <mat-icon>insert_drive_file</mat-icon>
            <span>{{ "JSON" | translate }}</span>
        </button>
        <button (click)="exportMap('png')" mat-menu-item>
            <mat-icon>image</mat-icon>
            <span>{{ "PNG" | translate }}</span>
        </button>
        <button (click)="exportMap('jpeg')" mat-menu-item>
            <mat-icon>image</mat-icon>
            <span>{{ "JPG" | translate }}</span>
        </button>
        <button (click)="exportMap('pdf')" mat-menu-item>
            <mat-icon>picture_as_pdf</mat-icon>
            <span>{{ "PDF" | translate }}</span>
        </button>
    </mat-menu>

    <div class="vertical-line"><div></div></div>

    <button (click)="mmpService.copyNode()" [title]="'TOOLTIPS.COPY_NODE' | translate"
            class="copy-node" color="primary"
            mat-icon-button>
        <mat-icon>content_copy</mat-icon>
    </button>
    <button (click)="mmpService.cutNode()" [title]="'TOOLTIPS.CUT_NODE' | translate"
            class="cut-node" color="primary"
            mat-icon-button>
        <mat-icon>content_cut</mat-icon>
    </button>
    <button (click)="mmpService.pasteNode()" [title]="'TOOLTIPS.PASTE_NODE' | translate"
            class="paste-node" color="primary"
            mat-icon-button>
        <mat-icon>content_paste</mat-icon>
    </button>

    <div class="vertical-line"><div></div></div>

    <button (click)="mmpService.updateNode('locked')" [title]="'TOOLTIPS.LOCK_NODE' | translate"
            class="lock-node" color="primary"
            mat-icon-button>
        <mat-icon>{{ node?.locked ? "lock_outline" : "lock_open" }}</mat-icon>
    </button>
    <button (click)="mmpService.addNodeImage()" [title]="'TOOLTIPS.NODE_IMAGE' | translate"
            class="image" color="primary"
            mat-icon-button>
        <mat-icon>{{ node?.image?.src ? "broken_image" : "image" }}</mat-icon>
    </button>

    <div class="vertical-line"><div></div></div>

    <button (click)="toogleNodeFontWeight()" [title]="'TOOLTIPS.BOLD_TEXT' | translate"
            class="bold" color="primary"
            mat-icon-button>
        <mat-icon>format_bold</mat-icon>
    </button>
    <button (click)="toogleNodeFontStyle()" [title]="'TOOLTIPS.ITALIC_TEXT' | translate"
            class="italic" color="primary"
            mat-icon-button>
        <mat-icon>format_italic</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <button (click)="toggleFullScreen()" [title]="'TOOLTIPS.FULLSCREEN' | translate"
            class="fullscreen" color="primary"
            mat-icon-button>
        <mat-icon>fullscreen</mat-icon>
    </button>

    <div class="vertical-line"><div></div></div>

    <button routerLink="/application/shortcuts"
            color="primary" mat-icon-button>
        <mat-icon>timeline</mat-icon>
    </button>

    <button routerLink="/application/settings"
            color="primary" mat-icon-button>
        <mat-icon>settings</mat-icon>
    </button>

    <button routerLink="/about"
            color="primary" mat-icon-button>
        <mat-icon>info</mat-icon>
    </button>
</mat-toolbar>
