<div class="sidenav">
    <div class="sidenav-content">
        <mat-nav-list>
            <mat-list-item [matMenuTriggerFor]="export" class="export-as">
                <span matLine>{{ "EXPORT_AS" | translate }}</span>
                <button color="primary" mat-icon-button>
                    <mat-icon>archive</mat-icon>
                </button>

                <mat-menu #export="matMenu">
                    <button (click)="exportMap('json')" mat-menu-item>
                        <mat-icon>insert_drive_file</mat-icon>
                        <span>{{ "JSON" | translate }}</span>
                    </button>
                    <button (click)="exportMap('png')" mat-menu-item>
                        <mat-icon>image</mat-icon>
                        <span>{{ "PNG" | translate }}</span>
                    </button>
                    <button (click)="exportMap('jpeg')" mat-menu-item>
                        <mat-icon>image</mat-icon>
                        <span>{{ "JPG" | translate }}</span>
                    </button>
                    <button (click)="exportMap('pdf')" mat-menu-item>
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>{{ "PDF" | translate }}</span>
                    </button>
                </mat-menu>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item (click)="sidenav.close()" class="open-shortcuts" routerLink="/shortcuts">
                <span matLine>{{ "SHORTCUTS_TITLE" | translate }}</span>
                <button color="primary" mat-icon-button>
                    <mat-icon>timeline</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item (click)="sidenav.close()" class="open-settings" routerLink="/settings">
                <span matLine>{{ "SETTINGS_TITLE" | translate }}</span>
                <button color="primary" mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item (click)="sidenav.close()" class="open-about" routerLink="/about">
                <span matLine>{{ "ABOUT_TITLE" | translate }}</span>
                <button color="primary" mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>
