<mat-nav-list>
    <mat-list-item (click)="closeSidenav()" routerLink="/application">
        <mat-icon color="primary" mat-list-icon>layers</mat-icon>
        <h4 matLine>{{ "APPLICATION_TITLE" | translate }}</h4>
    </mat-list-item>
    <mat-list-item (click)="closeSidenav()" routerLink="/application/shortcuts">
        <mat-icon color="primary" mat-list-icon>timeline</mat-icon>
        <h4 matLine>{{ "SHORTCUTS_TITLE" | translate }}</h4>
    </mat-list-item>
    <mat-list-item (click)="closeSidenav()" routerLink="/application/settings">
        <mat-icon color="primary" mat-list-icon>settings</mat-icon>
        <h4 matLine>{{ "SETTINGS_TITLE" | translate }}</h4>
    </mat-list-item>
    <mat-list-item (click)="closeSidenav()" routerLink="/about">
        <mat-icon color="primary" mat-list-icon>info</mat-icon>
        <h4 matLine>{{ "ABOUT_TITLE" | translate }}</h4>
    </mat-list-item>
</mat-nav-list>
