div.footer {
    width: 100%;
    color: #555555;
    border-top: 1px solid lightgray;
    background-color: white;

    div.footer-content {
        display: flex;
        padding: 4px 10px;

        span.footer-spacer {
            flex: 1 1 auto;
        }

        div.vertical-line {
            width: 1px;
            margin: 0 10px;
            background-color: #c2c2c2;
        }
    }
}
