#preferences {
    display: none;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 500px;
    margin: -250px 0 0 -350px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid lightgray;
    color: #5b6868;

    h2 {
        text-align: center;
        margin: 0;
        font-weight: normal;
        padding: 12px;
        background-color: #f9f9f9;
        border-bottom: 1px solid lightgray;
    }

    #close {
        position: absolute;
        font-size: 1.5rem;
        font-weight: 500;
        color: black;
        top: 0;
        right: 5px;
        padding: 10px;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        cursor: pointer;
    }

    #close:hover {
        opacity: 0.6;
    }

    #vertical-menu {
        float: left;
        padding: 10px 0 10px 10px;
        height: 427px;
        font-size: 16px;
        border-right: 1px solid lightgray;

        div {
            position: relative;
            right: -1px;
            padding: 10px 30px 10px 10px;
            cursor: pointer;
            border: 1px solid white;
            border-right-color: lightgray;
        }

        div.selected {
            border: 1px solid lightgray;
            border-right-color: white;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }
    }

    .content {
        float: left;
        padding: 23px 30px;

        > div {
            padding-bottom: 10px;
        }
    }
}
