<header class="header mat-elevation-z6">
    <nav class="container">
        <img class="logo" src="./assets/icons/icon-72x72.png" width="36">
        <h3>{{ projectName }}</h3>

        <a (click)="slide('#section-0', $event)" class="anchor" mat-button>
            {{ 'PAGES.ABOUT.SECTIONS.0.TITLE' | translate }}
        </a>
        <a (click)="slide('#section-1', $event)" class="anchor" mat-button>
            {{ 'PAGES.ABOUT.SECTIONS.1.TITLE' | translate }}
        </a>
        <a (click)="slide('#section-2', $event)" class="anchor" mat-button>
            {{ 'PAGES.ABOUT.SECTIONS.2.TITLE' | translate }}
        </a>

        <span class="toolbar-spacer"></span>

        <a [href]="'https://github.com/' + projectName" class="link" target="_blank">
            <fa-icon [icon]="faGithub" size="lg"></fa-icon>
        </a>
        <a class="link" href="https://gitter.im/mindmapp/community" target="_blank">
            <fa-icon [icon]="faGitter" size="lg"></fa-icon>
        </a>
    </nav>
</header>
