<section class="about-jumbotron">
    <div>
        <h1>
            <img src="./assets/icons/light-icon.png">
            {{ projectName }}
        </h1>

        <div>
            <p>Web application to draw mind maps.</p>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>check</mat-icon>
                    <h4 mat-line>Open source</h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>check</mat-icon>
                    <h4 mat-line>Real mind maps</h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>check</mat-icon>
                    <h4 mat-line>Modern application</h4>
                </mat-list-item>
            </mat-list>
        </div>

        <a routerLink="/application" color="accent" mat-flat-button>
            TRY IT
        </a>
    </div>
    <div>
        <img src="./assets/images/screens.png">
    </div>
</section>
