<footer class="footer">
    <div class="container">
        <div class="license">
            © {{ currentYear }} {{ projectAuthor }}
        </div>
        <div class="links">
            <a routerLink="/application" target="_blank">Application</a>
            <a [href]="'https://github.com/' + projectName" target="_blank">Github Org</a>
            <a [href]="'https://github.com/' + projectName + '/' + projectName" target="_blank">Github Repo</a>
            <a [href]="'https://github.com/' + projectName + '/mmp'" target="_blank">Github Library</a>
        </div>
        <div class="spacer"></div>
        <div class="languages">
            <mat-select (selectionChange)="updateLanguage()" [(value)]="settings.general.language"
                        [title]="'TOOLTIPS.LANGUAGE' | translate">
                <mat-option *ngFor="let language of languages"
                            [value]="language">
                    {{ "LANGUAGES." + language.toUpperCase() | translate }}
                </mat-option>
            </mat-select>
        </div>
    </div>
</footer>
