<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" position="end">
        <app-sidenav [sidenav]="sidenav"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div [@fadeInOut]>
            <app-toolbar [sidenav]="sidenav" [node]="node"></app-toolbar>

            <app-colors-panel [node]="node"></app-colors-panel>
            <app-sliders-panel [node]="node"></app-sliders-panel>
            <app-floating-buttons></app-floating-buttons>

            <app-map></app-map>

            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
