mat-sidenav-container.mat-sidenav-container {
    height: 100%;
    margin-top: 46px;

    mat-sidenav.mat-sidenav {
        border-left: 1px solid lightgray;
        width: 260px;
    }

    mat-sidenav-content.mat-sidenav-content > div {
        height: 100%;
    }
}
