#floating-buttons {

    // Material design override
    .mat-mini-fab:not([class*=mat-elevation-z]) {
        z-index: 2;
        position: absolute;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
        0 2px 2px 0 rgba(0, 0, 0, .14),
        0 1px 5px 0 rgba(0, 0, 0, .12) !important;
    }

    .mat-mini-fab:not([class*=mat-elevation-z]):hover {
        background-color: #f6f6f6;
    }

    #add-node, #remove-node,
    #undo, #redo {
        top: 50px;
    }

    #add-node {
        left: 20px;
    }

    #remove-node {
        left: 70px;
    }

    #undo {
        right: 70px;
    }

    #redo {
        right: 20px;
    }

    #zoom-in, #zoom-out, #center {
        right: 20px;
    }

    #zoom-out {
        bottom: 70px;
    }

    #zoom-in {
        bottom: 120px;
    }

    #center {
        bottom: 20px;
    }

}
