<div id="floating-buttons">
    <button (click)="mmpService.addNode()" id="add-node"
            [title]="'TOOLTIPS.ADD_NODE' | translate"
            mat-mini-fab>
        <mat-icon color="primary" aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
    <button (click)="mmpService.removeNode()" id="remove-node"
            [title]="'TOOLTIPS.REMOVE_NODE' | translate"
            mat-mini-fab>
        <mat-icon color="primary" aria-label="Example icon-button with a heart icon">remove</mat-icon>
    </button>

    <button (click)="mmpService.zoomIn()" id="zoom-in"
            [title]="'TOOLTIPS.ZOOM_IN_MAP' | translate"
            mat-mini-fab>
        <mat-icon color="primary" aria-label="Example icon-button with a heart icon">zoom_in</mat-icon>
    </button>
    <button (click)="mmpService.zoomOut()" id="zoom-out"
            [title]="'TOOLTIPS.ZOOM_OUT_MAP' | translate"
            mat-mini-fab>
        <mat-icon color="primary" aria-label="Example icon-button with a heart icon">zoom_out</mat-icon>
    </button>

    <button (click)="mmpService.center()" id="center"
            [title]="'TOOLTIPS.CENTER_MAP' | translate"
            mat-mini-fab>
        <mat-icon color="primary" aria-label="Example icon-button with a heart icon">center_focus_weak</mat-icon>
    </button>

    <button (click)="mmpService.undo()" id="undo"
            [title]="'TOOLTIPS.UNDO_MAP' | translate"
            mat-mini-fab>
        <mat-icon color="primary" aria-label="Example icon-button with a heart icon">undo</mat-icon>
    </button>
    <button (click)="mmpService.redo()" id="redo"
            [title]="'TOOLTIPS.REDO_MAP' | translate"
            mat-mini-fab>
        <mat-icon color="primary" aria-label="Example icon-button with a heart icon">redo</mat-icon>
    </button>
</div>
