<div id="floating-buttons">
    <img class="floating-buttons" id="add-node"
         src="./assets/images/floating/add.svg"
         (click)="mmp.addNode()">
    <img class="floating-buttons" id="remove-node"
         src="./assets/images/floating/remove.svg"
         (click)="mmp.removeNode()">
    <img class="floating-buttons" id="zoom-in"
         src="./assets/images/floating/zoomin.svg"
         (click)="mmp.zoomIn()">
    <img class="floating-buttons" id="zoom-out"
         src="./assets/images/floating/zoomout.svg"
         (click)="mmp.zoomOut()">
    <img class="floating-buttons" id="center"
         src="./assets/images/floating/center.svg"
         (click)="mmp.center()">
    <img class="floating-buttons" id="undo"
         src="./assets/images/floating/undo.svg"
         (click)="mmp.undo()">
    <img class="floating-buttons" id="repeat"
         src="./assets/images/floating/repeat.svg"
         (click)="mmp.redo()">
</div>
