#floating-buttons {

    .floating-buttons {
        z-index: 2;
        position: absolute;
        cursor: pointer;
        padding: 5px;
        border-radius: 40px;
        background-color: #f1f1f1;
        user-select: none;
    }

    .floating-buttons:hover {
        background-color: #ececec;
    }

    #add-node, #remove-node,
    #undo, #repeat {
        top: 50px;
    }

    #zoom-in, #zoom-out, #center {
        padding: 8px;
    }

    #add-node {
        left: 20px;
    }

    #zoom-in, #center {
        left: 25px;
    }

    #remove-node {
        left: 85px;
    }

    #zoom-in, #zoom-out {
        top: 118px;
    }

    #zoom-out {
        left: 78px;
    }

    #center {
        top: 175px;
    }

    #repeat {
        right: 20px;
    }

    #undo {
        right: 85px;
    }

}
