<div id="floating-buttons">
    <img class="floating-buttons" id="add-node"
         src="../../../assets/floating/add.svg"
         onclick="mmp.node.add();">
    <img class="floating-buttons" id="remove-node"
         src="../../../assets/floating/remove.svg"
         onclick="mmp.node.remove();">
    <img class="floating-buttons" id="zoom-in"
         src="../../../assets/floating/zoomin.svg"
         onclick="mmp.zoomIn();">
    <img class="floating-buttons" id="zoom-out"
         src="../../../assets/floating/zoomout.svg"
         onclick="mmp.zoomOut();">
    <img class="floating-buttons" id="center"
         src="../../../assets/floating/center.svg"
         onclick="mmp.center();">
    <img class="floating-buttons" id="undo"
         src="../../../assets/floating/undo.svg"
         onclick="mmp.undo();">
    <img class="floating-buttons" id="repeat"
         src="../../../assets/floating/repeat.svg"
         onclick="mmp.repeat();">
</div>
