<div class="settings">
    <button class="close-dialog" color="primary" mat-dialog-close mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
    </button>

    <h2 mat-dialog-title>{{ "SETTINGS_TITLE" | translate }}</h2>

    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab [label]="titles.general | translate">
                <div class="content general-options">
                    <mat-card class="general-options-main">
                        <mat-card-header>
                            <mat-card-title>{{ "MAIN" | translate }}</mat-card-title>
                        </mat-card-header>
                        <hr>
                        <mat-card-content>
                            <mat-form-field>
                                <mat-select (selectionChange)="setLanguage()" [(value)]="settings.general.language"
                                            [placeholder]="'LANGUAGE' | translate"
                                            [title]="'TOOLTIPS.LANGUAGE' | translate">
                                    <mat-option *ngFor="let language of languages"
                                                [value]="language">
                                        {{ "LANGUAGES." + language.toUpperCase() | translate }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>

            <mat-tab [label]="titles.mapOptions | translate">
                <div class="content map-options">
                    <mat-card class="map-options-map">
                        <mat-card-header>
                            <mat-card-title>{{ "MAP" | translate }}</mat-card-title>
                        </mat-card-header>
                        <hr>
                        <mat-card-content>
                            <mat-slide-toggle
                                (change)="setMapOptions()"
                                [(ngModel)]="settings.mapOptions.centerOnResize"
                                [title]="'TOOLTIPS.CENTER_ON_RESIZING' | translate"
                                color="primary">
                                {{ "CENTER_ON_RESIZING" | translate }}
                            </mat-slide-toggle>
                            <mat-slide-toggle
                                (change)="setMapOptions()"
                                [(ngModel)]="settings.mapOptions.drag"
                                [title]="'TOOLTIPS.NODE_DRAGGING' | translate"
                                color="primary">
                                {{ "NODE_DRAGGING" | translate }}
                            </mat-slide-toggle>
                            <mat-slide-toggle
                                (change)="setMapOptions()"
                                [(ngModel)]="settings.mapOptions.zoom"
                                [title]="'TOOLTIPS.MAP_ZOOM' | translate"
                                color="primary">
                                {{ "MAP_ZOOM" | translate }}
                            </mat-slide-toggle>
                            <mat-slide-toggle
                                (change)="setMapOptions()"
                                [(ngModel)]="settings.mapOptions.autoBranchColors"
                                [title]="'TOOLTIPS.AUTO_BRANCH_COLORS' | translate"
                                color="primary">
                                {{ "AUTO_BRANCH_COLORS" | translate }}
                            </mat-slide-toggle>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="map-options-nodes">
                        <mat-card-header>
                            <mat-card-title>{{ "NODES" | translate }}</mat-card-title>
                        </mat-card-header>
                        <hr>
                        <mat-card-content>
                            <mat-form-field>
                                <input (change)="setMapOptions()" [(ngModel)]="settings.mapOptions.rootNode.name"
                                       [placeholder]="'ROOT_NODE_NAME' | translate" [title]="'TOOLTIPS.ROOT_NODE_NAME_INPUT' | translate"
                                       matInput
                                       name="rootNodeName">
                            </mat-form-field>
                            <mat-form-field>
                                <input (change)="setMapOptions()" [(ngModel)]="settings.mapOptions.defaultNode.name"
                                       [placeholder]="'NODE_NAME' | translate" [title]="'TOOLTIPS.NODE_NAME_INPUT' | translate"
                                       matInput
                                       name="defaultNodeName">
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>

            <!--<mat-tab [label]="titles[1] | translate">-->
            <!--<div class="content sharing">-->
            <!--<mat-slide-toggle (change)="setIpfs($event.source.checked)"-->
            <!--[checked]="settingsService?.sharing?.ipfs"-->
            <!--color="primary">-->
            <!--{{ "IPFS" | translate }}-->
            <!--</mat-slide-toggle>-->
            <!--</div>-->
            <!--</mat-tab>-->
        </mat-tab-group>
    </mat-dialog-content>
</div>
