div.header-bar {

    -webkit-app-region: drag;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;

    mat-toolbar.mat-toolbar {
        background-color: #2f2f2f;
        height: 45px;
        padding: 0 8px;

        span.title {
            font-size: 16px;
            color: lightgray;
        }

        button {
            -webkit-app-region: no-drag;

            mat-icon {
                color: lightgray;
            }
        }

        button.close, button.minimize {
            mat-icon {
                font-size: 18px;
            }
        }
    }

}
