<div id="toolbar">
    <mat-toolbar>

        <button (click)="dialogService.newMap()" id="new-map"
                color="primary" [title]="'TOOLTIPS.NEW_MAP' | translate"
                mat-icon-button>
            <mat-icon>note_add</mat-icon>
        </button>
        <button (click)="dialogService.openMap()" id="open-map"
                color="primary" [title]="'TOOLTIPS.OPEN_MAP' | translate"
                mat-icon-button>
            <mat-icon>folder_open</mat-icon>
        </button>
        <button (click)="dialogService.saveMap()" id="save-map"
                [disabled]="mapSaved"
                color="primary" [title]="'TOOLTIPS.SAVE_MAP' | translate"
                mat-icon-button>
            <mat-icon>save</mat-icon>
        </button>

        <div class="vertical-line"></div>

        <button (click)="mmpService.updateNode('locked')" id="lock-node"
                color="primary" [title]="'TOOLTIPS.LOCK_NODE' | translate"
                mat-icon-button>
            <mat-icon>{{ node?.locked ? "lock_outline" : "lock_open" }}</mat-icon>
        </button>
        <button (click)="dialogService.addNodeImage()" id="image"
                color="primary" [title]="'TOOLTIPS.NODE_IMAGE' | translate"
                mat-icon-button>
            <mat-icon>{{ node?.image?.src ? "broken_image" : "image" }}</mat-icon>
        </button>

        <div class="vertical-line"></div>

        <button (click)="toogleNodeFontWeight()" id="bold"
                color="primary" [title]="'TOOLTIPS.BOLD_TEXT' | translate"
                mat-icon-button>
            <mat-icon>format_bold</mat-icon>
        </button>
        <button (click)="toogleNodeFontStyle()" id="italic"
                color="primary" [title]="'TOOLTIPS.ITALIC_TEXT' | translate"
                mat-icon-button>
            <mat-icon>format_italic</mat-icon>
        </button>

        <span class="toolbar-spacer"></span>

        <button (click)="dialogService.openMatDialog('settings')" id="settings"
                color="primary" [title]="'TOOLTIPS.SETTINGS' | translate"
                mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <button (click)="dialogService.openMatDialog('settings')" id="settings"
                color="primary" [title]="'TOOLTIPS.SETTINGS' | translate"
                mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>

        <div class="vertical-line"></div>

        <button (click)="dialogService.openMatDialog('settings')" id="close"
                color="primary" [title]="'TOOLTIPS.SETTINGS' | translate"
                mat-icon-button>
            <mat-icon>remove</mat-icon>
        </button>

        <button (click)="dialogService.openMatDialog('settings')" id="close"
                color="primary" [title]="'TOOLTIPS.SETTINGS' | translate"
                mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</div>
