<div id="toolbar">
    <div>
        <img class="toolbar-buttons" id="new-map"
             src="./assets/toolbar/new.svg"
             (click)="electron.newDialog()">
        <img class="toolbar-buttons" id="open-map"
             src="./assets/toolbar/open.svg"
             (click)="electron.openDialog()">
        <img class="toolbar-buttons disable" id="save-map"
             src="./assets/toolbar/save.svg"
             (click)="electron.saveDialog()">
    </div>
    <div>
        <img class="toolbar-buttons" id="lock-node"
             [src]="'./assets/toolbar/' + (values['fixed'] ? 'lock.svg' : 'unlock.svg')"
             (click)="mmp.node.update('fixed')">
        <img class="toolbar-buttons" id="image"
             src="./assets/toolbar/image.svg"
             [ngClass]="{'fade': values['image-src']}"
             (click)="electron.addImageDialog()">
    </div>
    <div>
        <img class="toolbar-buttons" id="bold"
             src="./assets/toolbar/bold.svg"
             (click)="mmp.node.update('bold')">
        <img class="toolbar-buttons" id="italic"
             src="./assets/toolbar/italic.svg"
             (click)="mmp.node.update('italic')">
    </div>
</div>
