<div class="toolbar">
    <mat-toolbar>

        <button (click)="dialogService.newMap()" class="new-map"
                color="primary" [title]="'TOOLTIPS.NEW_MAP' | translate"
                mat-icon-button>
            <mat-icon>note_add</mat-icon>
        </button>
        <button (click)="dialogService.openMap()" class="open-map"
                color="primary" [title]="'TOOLTIPS.OPEN_MAP' | translate"
                mat-icon-button>
            <mat-icon>folder_open</mat-icon>
        </button>
        <button (click)="dialogService.saveMap()" class="save-map"
                [disabled]="mapSaved"
                color="primary" [title]="'TOOLTIPS.SAVE_MAP' | translate"
                mat-icon-button>
            <mat-icon>save</mat-icon>
        </button>

        <div class="vertical-line"></div>

        <button (click)="mmpService.copyNode()" class="copy-node"
                color="primary" [title]="'TOOLTIPS.COPY_NODE' | translate"
                mat-icon-button>
            <mat-icon>content_copy</mat-icon>
        </button>
        <button (click)="mmpService.cutNode()" class="cut-node"
                color="primary" [title]="'TOOLTIPS.CUT_NODE' | translate"
                mat-icon-button>
            <mat-icon>content_cut</mat-icon>
        </button>
        <button (click)="mmpService.pasteNode()" class="paste-node"
                color="primary" [title]="'TOOLTIPS.PASTE_NODE' | translate"
                mat-icon-button>
            <mat-icon>content_paste</mat-icon>
        </button>

        <div class="vertical-line"></div>

        <button (click)="mmpService.updateNode('locked')" class="lock-node"
                color="primary" [title]="'TOOLTIPS.LOCK_NODE' | translate"
                mat-icon-button>
            <mat-icon>{{ node?.locked ? "lock_outline" : "lock_open" }}</mat-icon>
        </button>
        <button (click)="dialogService.addNodeImage()" class="image"
                color="primary" [title]="'TOOLTIPS.NODE_IMAGE' | translate"
                mat-icon-button>
            <mat-icon>{{ node?.image?.src ? "broken_image" : "image" }}</mat-icon>
        </button>

        <div class="vertical-line"></div>

        <button (click)="toogleNodeFontWeight()" class="bold"
                color="primary" [title]="'TOOLTIPS.BOLD_TEXT' | translate"
                mat-icon-button>
            <mat-icon>format_bold</mat-icon>
        </button>
        <button (click)="toogleNodeFontStyle()" class="italic"
                color="primary" [title]="'TOOLTIPS.ITALIC_TEXT' | translate"
                mat-icon-button>
            <mat-icon>format_italic</mat-icon>
        </button>

        <span class="toolbar-spacer"></span>

        <button [matMenuTriggerFor]="menu" class="menu"
                color="primary" [title]="'TOOLTIPS.MENU' | translate"
                mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button [matMenuTriggerFor]="export" mat-menu-item
                    style="-webkit-app-region: no-drag">
                <mat-icon>archive</mat-icon>
                <span>{{ "EXPORT_AS" | translate }}</span>
            </button>
            <button mat-menu-item style="-webkit-app-region: no-drag"
                    (click)="dialogService.saveMap(true)">
                <mat-icon>save</mat-icon>
                <span>{{ "SAVE_WITH_NAME" | translate }}</span>
            </button>
            <button mat-menu-item style="-webkit-app-region: no-drag"
                    (click)="utilsService.toggleFullScreen()">
                <mat-icon>fullscreen</mat-icon>
                <span>{{ "FULL_SCREEN" | translate }}</span>
            </button>
            <button mat-menu-item style="-webkit-app-region: no-drag"
                    (click)="dialogService.openMatDialog('settings')">
                <mat-icon>settings</mat-icon>
                <span>{{ "SETTINGS_TITLE" | translate }}</span>
            </button>
            <button mat-menu-item style="-webkit-app-region: no-drag"
                    (click)="dialogService.openMatDialog('shortcuts')">
                <mat-icon>timeline</mat-icon>
                <span>{{ "SHORTCUTS_TITLE" | translate }}</span>
            </button>
            <button mat-menu-item style="-webkit-app-region: no-drag"
                    (click)="dialogService.openMatDialog('about')">
                <mat-icon>info</mat-icon>
                <span>{{ "ABOUT_TITLE" | translate }}</span>
            </button>
        </mat-menu>

        <mat-menu #export="matMenu">
            <button mat-menu-item style="-webkit-app-region: no-drag"
                    (click)="dialogService.exportImage('png')">
                <mat-icon>image</mat-icon>
                <span>{{ "PNG" | translate }}</span>
            </button>
            <button mat-menu-item style="-webkit-app-region: no-drag"
                    (click)="dialogService.exportImage('jpeg')">
                <mat-icon>image</mat-icon>
                <span>{{ "JPG" | translate }}</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</div>
