div.toolbar {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;


    mat-toolbar.mat-toolbar {
        height: 45px;
        padding: 0 8px;

        div.vertical-line {
            width: 1px;
            height: 100%;
            margin: 0 8px;
            background-color: #c2c2c2;
        }

        span.toolbar-spacer {
            flex: 1 1 auto;
        }
    }
}
