#toolbar {

    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    >div {
        float: left;
        padding: 0 5px;
        border-right: 1px solid lightgray;
    }

    .toolbar-buttons {
        user-select: none;
        opacity: .75;
        float: left;
        border-radius: 1px;
        padding: 1px 2px;
        margin: 6px 8px;
        cursor: pointer;
    }

    .toolbar-buttons.disable {
        opacity: .4;
        cursor: default;
        pointer-events: none;
    }

    .toolbar-buttons.fade {
        opacity: .5;
    }

}
