#sliders-panel {
    .slider {
        z-index: 2;
        position: absolute;
        -webkit-appearance: none;
        -webkit-transform: rotate(-90deg);
        top: 48%;
        width: 180px;
        height: 10px;
        border-radius: 5px;
        background: #e1e1e1;
        outline: none;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #657c7e;
        cursor: pointer;
    }

    .slider.disable {
        opacity: .5;
        cursor: default;
        pointer-events: none;
    }

    #font-size {
        left: -60px;
    }

    #image-size {
        left: -30px;
    }
}
