div#sliders-panel {

    .mat-slider-vertical {
        z-index: 2;
        position: absolute;
        height: 180px;
        top: 40%;
    }

    #font-size {
        left: 10px;
    }

    #image-size {
        left: 40px;
    }

}

