<div id="sliders-panel">
    <mat-slider *ngIf="node.font" id="font-size"
                min="15" max="70"
                [value]="node.font.size"
                (change)="updateNodeFontSize($event)"
                (input)="updateNodeFontSize($event, true)"
                color="primary"
                vertical>
    </mat-slider>
    <mat-slider *ngIf="node.image" id="image-size"
                min="50" max="150"
                [value]="node.image.size"
                (change)="updateNodeImageSize($event)"
                (input)="updateNodeImageSize($event, true)"
                [disabled]="!node.image.src"
                color="primary"
                vertical>
    </mat-slider>
</div>
