<div id="sliders-panel">
    <input *ngIf="node.font"
           (change)="updateNodeFontSize($event)"
           (input)="updateNodeFontSize($event, true)"
           id="font-size" class="slider"
           min="15" max="70" type="range"
           [value]="node.font.size">
    <input *ngIf="node.image"
           (change)="updateNodeImageSize($event)"
           (input)="updateNodeImageSize($event, true)"
           id="image-size" class="slider"
           [ngClass]="{'disable': !node.image.src}"
           min="50" max="150" type="range"
           [value]="node.image.size">
</div>
