@import "~src/theme.scss";

@font-face {
    font-family: "Source Sans Pro";
    src: url("assets/font/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden !important;
}

body {
    font-family: "Source Sans Pro", sans;
    font-size: 17px;
}

::selection {
    color: whitesmoke;
    background: #546e7a;
}

*:focus {
    outline: none;
}

// Material override
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: lightgray !important;
}

mat-dialog-content.mat-dialog-content {
    max-height: none;
}

// Color picker override
div.color-picker {
    border-radius: 2px;
    border: 1px solid #a8a8a8 !important;

    div.box:last-child {
        display: none !important;
    }

    div.arrow {
        top: 170px !important;
    }
}

// Snackbar
snack-bar-container.snackbar {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-bottom: 0;
    color: #555555;

    simple-snack-bar.mat-simple-snackbar {
        font-size: 15px;

        button {
            color: #555555;
        }
    }
}

// Scrollbar properties.
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: mat-color($app-primary, .7);
}

::-webkit-scrollbar-thumb:hover {
    background: mat-color($app-primary, .8);
}


