<div id="colors-panel">
    <div #background id="background"></div>
    <div id="panel">
        <input id="background-color" class="colors"
               (cpToggleChange)="colorPickerToggleChange($event, 'background-color', values['background-color'])"
               (colorPickerChange)="colorPickerChange('background-color', values['background-color'])"
               [(colorPicker)]="values['background-color']" [style.background]="values['background-color']"
               cpPosition="left"/>
        <input id="text-color" class="colors"
               (cpToggleChange)="colorPickerToggleChange($event, 'text-color', values['text-color'])"
               (colorPickerChange)="colorPickerChange('text-color', values['text-color'])"
               [(colorPicker)]="values['text-color']" [style.background]="values['text-color']"
               cpPosition="left"/>
        <input id="branch-color" class="colors" [ngClass]="{'disable': !values['branch-color']}"
               (cpToggleChange)="colorPickerToggleChange($event, 'branch-color', values['branch-color'])"
               (colorPickerChange)="colorPickerChange('branch-color', values['branch-color'])"
               [(colorPicker)]="values['branch-color']" [style.background]="values['branch-color']"
               cpPosition="left"/>
    </div>
</div>
