button {
    position: absolute;
    top: 10px;
    left: 10px;
}

h2 {
    text-align: center;
}

div.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px;

    mat-list-item {
        color: #555555;
    }

    .key {
        padding: 5px 8px;
        background: gainsboro;
        border-radius: 3px;
        font-size: 14px;
    }

    .description {
        padding-left: 10px;
    }
}
